.playlist
{
padding: 10px 30px;

}
.playlist 
{   color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
.playlist 
{   color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}
h2{
    font-size: 15px;
    color: #fff;
}
h1{
 font-size: 25px;
 font-family: Arial, Helvetica, sans-serif
}
.playlist .card
{

    display: flex;
    overflow: hidden;
    gap: 20px;
}
.playlist .card .item 
{
    width: 200px;
    min-width: 280px;
   background-color: #292626;
   cursor: pointer;
  padding: 15px;
  border-radius: 6px;
}
.playlist .card .item:hover
{
    background-color: rgb(67, 65, 65);
}
.playlist .card .item img 
{
    width: 100%;
    border-radius: 6px;
    margin-bottom: 10px;
}
p
{
color: #6b6161;
font-size: 14px;
margin-top: 10px;
}
p:hover
{
text-decoration: underline;
}
.playlist .play-btn i
{
    color: black;
    position: absolute;
    background-color: rgb(45, 250, 18);
    padding: 20px;
    border-radius: 50%;
    margin-left: 220px;
    margin-top: -60px;
    opacity: 0;
 }
.playlist .card .item .play-btn i:hover
{
  opacity: 1;
  transform: translate(-20px);
 }
 .footer-section
 {
    padding: 0 40px;
 }
 .footer-section
 {
    padding: 0 40px;
 }

 hr
 {
 padding: 2px 4px;   
 border: 1px solid #2b2929;
 outline: 0; 
 background-color: #312f2f;
}
.copyright
{
 padding: 0 50px;   
 color: #969393;
 font-size: 15px;
 margin-bottom: 30px;
}

.footer-section
{
 padding: 20px 40px;
}
.footer-section .footer
{
 display: flex;   
 padding: space-between;
 margin: 20px;
}
.footer-section .footer .footer-links
{
 display: flex;   
 padding: space-between;
 gap: 50px;
}
.footer-section .footer .footer-links .footer-columns
{
 
    margin: 0 12px;
}
.footer-section .footer .footer-links .footer-columns div
{
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    margin: 0 1px;
}
.footer-section .footer .footer-links .footer-columns ul li
{
   
    list-style: none;
    margin: 8px 0;

}
.footer-section .footer .footer-links .footer-columns ul li a
{
    text-decoration: none;
    color: #969393;
    font-size: 16px;
    cursor: pointer;
}
.footer-section .footer .footer-links .footer-columns ul li a:hover
{
    text-decoration: underline;
    color: #fff; 
}
.footer .social-links i
{
    color: white;
    background-color: #312f2f;
    padding: 15px;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
    font-size: 20px;
   
}
.footer .social-links div
{
   justify-content: 
   
}
.footer .social-links i:hover
{
   
    background-color: #615f5f;
    
}
hr
{
margin: 20px 40px;
background: #272628;
border: 1px  solid #292828;
}
.copyright
{
    padding: 0 40px;
    color: #969393;
    font-size: 15px;
    margin-bottom: 30px;
}
.preview
{
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right,purple,rgb(30, 173, 220));
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 40px;
}
.preview h4
{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #fff;
}
.preview p
{
 font-size: 16px;
 font-weight: 400;
 color: #fff;
}
.preview button
{
 padding: 12px 30px;
 border-radius: 20px;
 font-size: 14px;
 font-weight: 600;
 color: black;
}
.social-links 
{
  margin-left: 500px;
  display: inline;
}
.social-links i
{
 gap: 10px;
}